$black: #000;
$white: #fff;
$background: #eef5f8;
$navy-800: #2e3954;
$navy-600: #232d43;

// Grayscale
$gray-800: #484b52;
$gray-600: #6b717c;
$gray-400: #8f96a5;
$gray-200: #b3bcce;
$gray-100: #f0f1f2;

// Blue
$blue-800: #0c6fcb;
$blue-600: #0f8bfe;
$blue-400: #85b9ea;
$blue-200: #cfe8ff;
$blue-100: #e7f3ff;

// Green
$green-800: #00a780;
$green-600: #00d1a0;
$green-400: #33dab3;
$green-200: #ccf6ec;
$green-100: #e6faf6;

// Yellow
$yellow-900: #ab8911;
$yellow-800: #cca313;
$yellow-600: #ffcc18;
$yellow-400: #ffe37e;
$yellow-200: #fff5d1;
$yellow-100: #fffae8;

// Red
$red-900: #b30946;
$red-800: #cb0c51;
$red-600: #fe0f65;
$red-400: #ffa6b0;
$red-200: #ffcfe1;
$red-100: #fcecec;

// ページ一覧
$badge-publication-reserved-background: #61acf1;

// tooltip の background-color とのコントラストでリンクのテキストが見えづらいので追加
$tooltip-link-text-color: #61acf1;

// 顧客帳票
$customer-form-content-background: #dbeaef;
$unselected-contact-background: #c0d3da;
